<div class="container">
  <h1>Overview</h1>
  <h4>My name is Jim Padilla, I am a Web Developer</h4>
  <br>
  <p>
    I am a Web Development student currently studying at Epicodus, an intense 40+ hour a week tech school. My interest in Web Development began when I decided to take Codecademy courses, I was immediately hooked.
  </p>

  <p>
    My passion lies with backend development technologies, the logical challenges it presents keep me absorbed in any given project that I am working on. My favorite frameworks to work with are Angular, Sinatra, and Ruby on Rails.
  </p>

  <p>
    Thank you for your time, you can find my LinkedIn, Github, and Twitter on the home page if you'd like to make a connection.
  </p>
</div>
